#
# Main XTAL Config
#
CONFIG_XTAL_FREQ_26=y
# CONFIG_XTAL_FREQ_40 is not set
CONFIG_XTAL_FREQ=26
# end of Main XTAL Config

# Limited memory
CONFIG_ESP_MAIN_TASK_STACK_SIZE=7500
CONFIG_MAIN_TASK_STACK_SIZE=7500
CONFIG_WOLFSSL_ALLOW_TLS12=y
WOLFSSL_LOW_MEMORY_DISABLE_TLS13=y

