CONFIG_MBEDTLS_TLS_CLIENT_ONLY=y
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# There may not be a TLS 1.3 listening server, so disable wolfSSL TLS 1.3
# and enable TLS 1.2.
CONFIG_WOLFSSL_ALLOW_TLS13=n
CONFIG_WOLFSSL_ALLOW_TLS12=y
